:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/deep/ svg {
  // background-color: #799603;
}

/deep/ .bar {
  fill:#969DAD;
}
/deep/ .bar.active {
  fill:#0768EF;
}

/deep/ .bar.placeholder {
  fill:#F2F5FA;
}

/deep/ .label {
  fill:#969DAD;
}

/deep/ .label.active {
  fill:#0768EF;
}