<div class="chart-container">
  <fn-bar-chart
    #chart
    [data]="renderData$ | async"
    [dateRangeStrategy]="dateStrategy"
    [barWidth]="barWidth"
    [countBarsInViewport]="barCountInViewport"
    [hasLeftPagination]="hasLeftPagination"
    (paginationEvent)="paginationEvent.emit($event)"
  >
    <fn-static-tooltip *ngIf="isMobile; else relativeTooltip"></fn-static-tooltip>
    <ng-template #relativeTooltip>
      <fn-relative-tooltip></fn-relative-tooltip>
    </ng-template>
  </fn-bar-chart>
</div>
