<!-- <fn-bar-chart-simple
        [items]="listData_DayDelimiter$ | async"
>
</fn-bar-chart-simple> -->


<div class="buttons">
	<button (click)="onClickHour_AddBeforeChunk()">add -1</button>
  <button (click)="onClickHour_AddAfterChunk()">add +1</button>
</div>
<br>
<fn-bar-chart-time-scale
        [items]="this.pagginableDataForHourChart$ | async"
        [startRange]="startDateHour"
        [barWidth]="barWidthHour"
        [countViewBars]="countViewBarsHours"
        [maxValue]="maxValueForHour"
>
</fn-bar-chart-time-scale>