<div class="chart-wrapper">
	<select 
    [(ngModel)]="showForDelimiter" 
    (ngModelChange)="onChangeDelimiter($event)">
    <option *ngFor="let d of delimitersItems; let i = index" 
      [value]="d"
    >{{ d }}</option>
</select>

	<div class="header">
    <!-- <hello></hello> -->
		<fn-chart-active-date-nav 
      #navLink
      [delimiter]="showForDelimiter"
    ></fn-chart-active-date-nav>
	</div>

	<div class="chart-container">
		<fn-impression-price-chart
      [chunkDateRange]="dateRange"
      [data]="pagginableData$"
      [delimiter]="showForDelimiter"
      [navigation]="navLink"
    ></fn-impression-price-chart>
	</div>
</div>